name: CI

on:
  push:
    branches: [ '*/*' ]

jobs:
  ci:
    name: Run Quality Checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up PHP with no coverage driver
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          tools: composer, phpunit
          coverage: none
      # Install system dependencies (optional but ensures codecs are available)
      - name: Ensure ffmpeg is installed and expose binary paths
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg libavcodec-extra
          which ffmpeg
          which ffprobe
          echo "FFMPEG_BINARIES=$(which ffmpeg)" >> $GITHUB_ENV
          echo "FFPROBE_BINARIES=$(which ffprobe)" >> $GITHUB_ENV

      # install ffmpeg system package
      - name: Set up FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v2
        with:
          token: ${{ github.token }}
      - run: ffmpeg -version

      - name: Install PHP dependencies (cached)
        uses: ramsey/composer-install@v3
        with:
          composer-options: --no-progress --no-interaction --prefer-dist

      - name: Run PHPUnit Tests
        env:
          FFMPEG_BINARIES: ${{ env.FFMPEG_BINARIES }}
          FFPROBE_BINARIES: ${{ env.FFPROBE_BINARIES }}
        run: php artisan test --parallel --no-coverage
